.choice
    &__dotstar
        opacity 0.2
        z-index -1

    &__dotstar1
        opacity 0.2
        margin-left 750px
        z-index -1

    &__your
        z-index 3
        position relative
        margin-top -450px

        &__title
            text-align center
            font-weight bold
            font-size 44px
            line-height (50 / 44)
            color $blue
            background-color transparent
            margin 0 0 19px

        &__des
            padding-left 150px
            text-align center
            font-size: 18px;
            line-height: (22 / 18)
            color: #8476AA;
            width 75%
            margin 0 0 40px

        &__list
            padding-top 50px
            padding-bottom 160px
            &__block1
                display flex    
                justify-content space-between

            &__block2
                display flex    
                justify-content space-between  

            &__img
                height 22px
                padding-right 30px
        
            &__text
                font-size 18px
                line-height 22px
                color $blue

            &__ptext
                width 70%
                font-size 14px
                line-height 22px
                color $blue-1