.footer
    &__all
        position relative
        z-index 10
        margin-top -560px

    &__img
        margin-top 140px
        opacity 0.4
        z-index -1

    &__block
        display flex 
        margin-bottom 90px

        &__title
            color $or
            font-weight bold
            font-size 26px
            line-height 32px
            letter-spacing 0.325px
            
        &__img1
            border 1px solid $darkblue
            border-radius 50%
            padding 10px
            margin 10px
            position relative
            left 75%
            height 20px

    &__spisok
        display flex
        justify-content space-between

        &__block1
            

            &__title1
                margin-bottom 30px
                color $white
                font-weight bold
                font-size 15px
                line-height 18px
                letter-spacing 1px

            &__text
                margin-bottom 10px
                font-size 15px
                line-height 20px
                letter-spacing 0.2px
                color $white

    &__copyright
        display flex
        justify-content space-between
        width 40%
        position relative
        left 30%
        margin-top 120px

        &__text1
            font-size 14px
            line-height 20px
            letter-spacing 0.2px
            color $grey-1
        