.form

    &__img
        margin-top 200px
        z-index -1

    &__btn
        background-color $or
        color white
        border-radius: 0px 5px 5px 0px

    &__rectangle
        position relative
        z-index 5
        margin-top -400px
        left 90px
        background rgba(60, 62, 125, 0.19)
        backdrop-filter blur(134px)
        border-radius 5px
        text-align center
        width 900px
        height 320px

        &__title
            font-size 36px
            line-height 43px
            color $or
            padding-top 50px

        &__des
            position relative
            font-size 16px
            line-height 22px
            color $blue-2
            width 40%
            left 35%

        &__text
            font-size 14px
            line-height 20px
            letter-spacing 0.2px
            color $blue-1 
            padding-left 80px

        &__form

            &__sup
                position relative
                background: #F6F6F6;
                opacity: 0.1;
                border-radius: 5px;
                left 30px

                &__title
                    padding 15px
                    border-radius: 5px;
                    width 25%


        


            