.infoonline

    &__stars
        position relative
        z-index -1
        left 1040px
        border-radius 9px
        margin-top -50px
        
    &__img
        margin-top -500px

        &__mask
            position relative
            z-index 10

        &__dots1, &__dots2, &__triangle
            position relative   

        &__dots1
            z-index 2
            top -150px
            right 20px

        &__dots2
            z-index 3
            top -380px
            right 490px

        &__triangle
            z-index 4
            top -80px
            right 680px

    &__blocktext
        position relative
        z-index 15
        margin-top -400px
        right -500px
        width 400px

        &__title
            color $blue
            font-weight bold
            font-size 26px
            line-height 32px
            letter-spacing 0.325px

        &__des
            color $blue-1 
            font-size 15px
            line-height 20px
            letter-spacing 0.2px

        &__list
            display flex
            padding 0
            margin 0
            margin-top 50px
            li
                margin-right -250px

            &__title1
                font-weight bold
                font-size 15px
                line-height 18px
                letter-spacing 0.2px 
                color $blue  

            &__des1
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color $blue-1
                width 40%
    

        
        

        
            
