.pool

    &__title
        font-weight: bold
        font-size: 42px
        line-height: 50px
        color $blue
        width: 60%
        text-align center
        padding-left 250px
        margin-bottom 45px
        margin-top 300px

        &__text
            color $or

    &__btnsection
        text-align center

    &__btn
        background-color $or
        color white
        box-shadow -11.09px 18.13px 36.6483px rgba(242, 153, 74, .13);

    &__img
        z-index -1
        padding-left 90px
        margin-top -100px