.simple
    &__section
        z-index 3
        margin-top -200px
        margin-bottom 160px

    &__dotsstar
        opacity 0.2
        transform rotate(-120deg)
        position relative
        left -70px
        z-index -1

    &__title
        font-weight: bold
        font-size: 42px
        line-height: 50px
        color $blue
        width: 80%
        text-align center
        padding-left 90px

        &__text
            color $or

    &__des
        font-size 15px
        line-height 20px
        text-align center
        letter-spacing 0.2px
        color $blue-1
        width 40%
        padding-left 30%

    &__list
        position relative
        display flex
        justify-content space-between
        

        &__number
            font-weight bold
            font-size 36px
            line-height 42px
            text-align center
            letter-spacing 0.33px
            color $blue

        &__text
            font-size 15px
            line-height 20px
            text-align center
            letter-spacing 0.2px
            color $blue-1
            width 25%