.world
    position relative
    margin-bottom 160px
    &__worldmap
        position relative
        z-index -1
        left 680px
        margin-top 130px

    &__block
        display flex
        justify-content: space-between

    &__col
        position relative
        z-index 20
        max-width: 470px
        width 43%
        margin-top -400px

        &__title
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            color $blue
            width: 80%

            &__text
                color $or

        &__des
            font-size: 15px
            line-height: 28px
            letter-spacing: 0.5px
            color: $blue-1 
            margin-bottom 40px

        &__btn
            background-color $or
            color white
            box-shadow -11.09px 18.13px 36.6483px rgba(242, 153, 74, .13);

    &__block-img
        position: relative
        z-index 15
        max-width 442px
        width 41%

        &__finance, &__graf, &__month
            position absolute

        &__finance
            z-index 3
            top -440px
            left 50px

        &__graf
            z-index 5
            width 100px
            height 100px
            top -320px

        &__month
            z-index 1
            top -200px
            left 300px