// основная настройка
@import 'global/variable.styl'
@import 'global/base.styl'


//  секции
@import 'bibl/header.styl'
@import 'bibl/hero.styl'
@import 'bibl/grafic.styl'
@import 'bibl/sponsor.styl'
@import 'bibl/choice.styl'
@import 'bibl/simple.styl'
@import 'bibl/pool.styl'
@import 'bibl/world.styl'
@import 'bibl/infoonline.styl'
@import 'bibl/form.styl'
@import 'bibl/footer.styl'


// адаптация
@import 'global/main.styl'