@media screen and (max-width 2560px)
    .choice

        &__dotstar1
            position relative
            // left 25%


@media screen and (max-width 1440px)
    // hero
    .hero__col
        padding-top 200px
        &__title
            font-size 34px
            margin-bottom 15px
        &__des
            font-size 16px
            margin-bottom 30px
    // /hero
            
@media screen and (max-width 1024px)
    // hero
    .hero__col
        padding-top 150px
    // /hero

@media screen and (max-width 768px)
    .header
        &__container
            &__nav, &__btn-block
                display none

            &__btn-menu
                display: block
                &:hover + .header__container__menu-mob
                    left: 0

    // hero
    .hero
        &__col 
            width 70%
            &__title
                font-size 26px
                margin-bottom 10px
             &__des
                font-size 15px
                margin-bottom 15px
        &__img
            position: relative
            margin-left auto
            display block
    // /hero
    // grafic
    .grafic
        &__block
            justify-content flex-start

        &__col
            &__title
                width 90%

        &__block-img
            left 10%

            &__graf
                margin-top 100px
                width 60%
               
            &__people
                margin-top 100px
                width 70%

            &__graf-svg
                width 40%
                top: calc(80% - 55px)
                left auto 
                left 30%

            &__point
                right auto
                left 80%
                top 57%
                width 40%

                

           
    // grafic
    
    


@media screen and (max-width 425px)
    // hero
    .hero
        &__col, &__img
            width 100%
        &__col
            padding-top 70px
            &__des
                width 90%
    // /hero
    // grafic
    .grafic
        &__block
            flex-direction column

        &__col
            width 100%

            &__btn
                display block

        &__block-img
            // margin-right 50px


            &__graf
                // margin-top 100px
                // width 60%
               
            &__people
                // margin-top 100px
                // width 70%

            &__graf-svg
                // width 40%
                // top: calc(80% - 55px)
                // left auto 
                // left 30%

            &__point
                // right auto
                // left 80%
                // top 57%
                // width 40%
    // grafic



// @media screen and (max-width 375px)