//  color
$white = #ffffff
$or = #F2994A
$orHover = #F29000
$grey = #B5B5B5
$blue = #99EFD0
$blue-1 = #8476AA
$neutral = #6D6D78
$darkblue = #361C5D
$rectangle = #3C3E7D
$blue-2 = #95A1BB
$grey-1 = #8D8D8D


// font
$fontSize = 16px
$lineheight = 22 / 14
$fontFamily = 'Roboto', Arial, sans-serif
